deb {{ apt_mirror }} precise main restricted universe multiverse
deb {{ apt_mirror }} precise-updates main restricted universe multiverse
deb {{ apt_mirror }} precise-backports main restricted universe multiverse
deb {{ apt_mirror }} precise-security main restricted universe multiverse
